In [1]:
import Glassdoor_scrape as gs
import pandas as pd
path = "C:/Users/USER/Documents/ds_salary_proj/chromedriver"

In [2]:
df = gs.get_jobs('data scientist', 15, False, path, 15)

Progress: 0/15
Progress: 1/15
Progress: 2/15
Progress: 3/15
Progress: 4/15
Progress: 5/15
Progress: 6/15
Progress: 7/15
Progress: 8/15
Progress: 9/15
Progress: 10/15
Progress: 11/15
Progress: 12/15
Progress: 13/15
Progress: 14/15
Progress: 15/15

In [3]:
df

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Data Scientist,-1,Job Description\nJob Description\n\nThis role ...,3.7,AirAsia\n3.7,Kuala Lumpur,-1,10000+ Employees,2001,Company - Public,Internet,Information Technology,Unknown / Non-Applicable,-1
1,Business Intelligence Analyst,-1,The Role\n\nThe Inviso BI Analyst is a key mem...,3.5,Inviso Corporation\n3.5,Kuala Lumpur,-1,51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
2,Data Scientist,-1,Data Scientist\n\nby\nCapital Dynamics Sdn Bhd...,4.2,Universiti Teknologi Malaysia\n4.2,Kuala Lumpur,-1,1001 to 5000 Employees,-1,College / University,Colleges & Universities,Education,Less than $1 million (USD),-1
3,Senior Clinical Data Analyst,-1,Key Accountabilities:\nThe role of the Clinica...,3.6,Parexel\n3.6,Petaling Jaya,-1,10000+ Employees,1982,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,$2 to $5 billion (USD),-1
4,Data Scientist,-1,Position Summary:\nThe Data Scientist is respo...,3.5,QS\n3.5,Kuala Lumpur,-1,201 to 500 Employees,1990,Company - Private,Colleges & Universities,Education,Unknown / Non-Applicable,-1
5,Data Scientist,-1,About Accenture\nAccenture is a global profess...,3.9,Accenture\n3.9,Kuala Lumpur,-1,10000+ Employees,1989,Company - Public,Consulting,Business Services,$10+ billion (USD),-1
6,Data Scientist,-1,"Data Exploration using Hadoop, Spark, kafka, e...",-1,Mindgraph Solutions Sdn Bhd,Kuala Lumpur,-1,-1,-1,-1,-1,-1,-1,-1
7,Data Scientist,-1,ExxonMobil is one of the largest publicly trad...,3.6,ExxonMobil\n3.6,Kuala Lumpur,-1,10000+ Employees,1870,Company - Public,Energy,"Oil, Gas, Energy & Utilities",$10+ billion (USD),-1
8,Data Scientist,-1,My client is a leading iGaming industry player...,-1,Jobify.my,Kuala Lumpur,-1,-1,-1,-1,-1,-1,-1,-1
9,Big Data & Analytics Consultant,-1,Are you passionate about analytics? Would you ...,3.9,Amazon\n3.9,Kuala Lumpur,-1,10000+ Employees,1994,Company - Public,Internet,Information Technology,$10+ billion (USD),-1
10,Data Scientist,-1,JOB DESCRIPTION\n\n\n\nData Scientist\n\nPosti...,4.2,EPS Malaysia\n4.2,Kuala Lumpur,-1,501 to 1000 Employees,1993,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1
11,Data Scientist,-1,Data Scientist\n\nMalaysia - Permanent\nTransf...,3.4,Spring Professional (Malaysia) Sdn. Bhd.\n3.4,Kuala Lumpur,-1,501 to 1000 Employees,2015,Subsidiary or Business Segment,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1
12,Data Scientist,-1,Looking for Data scientists for 12 months cont...,2.0,Aitek Pte Ltd\n2.0,Kuala Lumpur,-1,51 to 200 Employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1
13,Data Scientist,-1,"Last updated: December 14, 2020\n2\nWhere is i...",4.0,British American Tobacco\n4.0,Kuala Lumpur,-1,10000+ Employees,1902,Company - Public,Consumer Products Manufacturing,Manufacturing,$10+ billion (USD),-1
14,Data Scientist,-1,Role:\nYou will be part of the new data scienc...,-1,CAPGEMINI TECHNOLOGY SERVICES INDIA LIMITED (C...,Kuala Lumpur,-1,-1,-1,-1,-1,-1,-1,-1